html {
	background-color: #d8f0e8;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.item {
	padding: 0px 30px;
	width: 20%;
}

.receivingMessage, .givingMessage {
	background-color: #95A5A6;
	border-radius: 5%;
	color: white;
	padding: 5px;
}

.right {
	margin-left: 50px;
}

.selectedButton, .unselectedButton {
	border-radius: 5%;
	font-size: 1em;
	height: 3em;
	padding: 5px;
	width: 7em;
}

.unselectedButton {
	background-color: #BDC3C7;
	color: white;
}

.selectedButton {
	background-color: #7F8C8D;
	color: white;
}

.unselectedButton:hover {
	background-color: #95A5A6;
	cursor: pointer;
}