html {
	background-color: #d8f0e8;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.item {
	background-color: #4d8774; 
	margin: 0px 5px;
	padding: 5px 30px 15px 30px;
	width: 20%;
}

.directionsInputs {
	width: 30%;
}

.right {
	margin-left: 50px;
}

.selectedButton, .unselectedButton {
	border-radius: 5%;
	font-size: 1em;
	height: 3em;
	padding: 5px;
	width: 7em;
}

.unselectedButton {
	background-color: #f88379;
	color: white;
}

.unselectedButton:hover {
	background-color: #4d8774;
	cursor: pointer;
}

a {
	text-decoration: none;
}