<center>
	<h3>What is your primary speaking language?</h3>
	<select ng-change="selectLanguage()" ng-model="language">
		<option value="English">English</option>
		<option value="Spanish">Spanish</option>
	</select>

	<div ng-show='language'>
		<h3>I want to...</h3>
		<button ng-click="selectAction('receive')" ng-class="receiveClass">
			Receive Directions
		</button>
		<button ng-click="selectAction('give')" ng-class="giveClass">
			Give Directions
		</button>

		<br>

		<a ng-href="/messages">
			<button class="unselectedButton" style="margin-top: 20px">
				Next
			</button>
		</a>
	</div>
</center>