<center>
	<div class="container">
		<div class="item">
			<h4>Name of person <br> RECEIVING directions</h4>
			<input ng-model="receivingName"/>
			<h4>What is your primary <br> speaking language</h4>
			<select ng-model="receiveDirectionsLanguage">
				<option ng-repeat="language in availableLanguages" value="{{language}}">
					{{language}}
				</option>
			</select>
		</div>

		<div class="item">
			<h4>Name of person <br> GIVING directions</h4>
			<input ng-model="givingName"/>
			<h4>What is your primary <br> speaking language</h4>
			<select ng-model="giveDirectionsLanguage">
				<option ng-repeat="language in availableLanguages" value="{{language}}">
					{{language}}
				</option>
			</select>
		</div>
	</div>
	<br>
	<button class="unselectedButton" ng-click="next()" style="margin-top: 20px">
		Next
	</button>
</center>