<center>
	<h2>Directions Request and Translation</h2>
	<img ng-hide="loadingComplete" src="img/loader.gif" alt="Loading...">
	<div ng-show="loadingComplete" class="container">
		<div class="item">
			<strong>{{user.receivingName.toUpperCase()}}</strong>{{translatedReceiverText1}}
			<br> <br>
			{{translatedReceiverText2}}
			<br> <br>
			<input ng-model="directionsFrom" class="directionsInputs"> --> <input ng-model="directionsTo" class="directionsInputs">
			<br> <br>
			<button class="unselectedButton" ng-click="directionsRequested = true">
				{{translatedReceiverButtonText}}
			</button>
		</div>

		<br> <br>

		<div class="item" ng-show="directionsRequested">
			<strong>{{user.givingName.toUpperCase()}}</strong>, {{user.receivingName}}
			{{translatedGiverText1}}
			<br>
			<u>{{directionsFrom}}</u> --> <u>{{directionsTo}}</u>. 
			<br> <br>
			{{translatedGiverText2}}
			<br> <br>
			<textarea ng-model="steps" style="width: 80%; height: 20%"></textarea>
			<br> <br>
			<button class="unselectedButton" ng-click="translateSteps()">
				{{translatedGiverButtonText}}
			</button>
			<br> <br>
		</div>
	</div>

	<br>
	<div ng-show="ifStepsTranslated" class="item" style="width: 35%">
		<h2>{{translatedReceiverStepsHeader}} {{user.receivingName}}</h2>
		<p style="width: 35%">
			{{ stepsTranslated }}
			<br> <br>
			{{ translatedReceiverAnyQuestions }} {{user.givingName}}?
		</p>
		<input ng-model="receiverQuestion"/>
		<br> <br>
		<button class="unselectedButton" ng-click="askQuestion()">
			{{ translatedReceiverAskQuestion }}
		</button>
		<p ng-show="questionAsked">
			{{user.givingName}}, {{ translatedQuestion }}
			<br>
			{{translatedGiverAnswerQuestion}}
		</p>
	</div>

	<br> 
	<a ng-href="/">
		<button class="unselectedButton">
			Back
		</button>
	</a>
	<a ng-show="ifStepsTranslated" href="https://ufl.qualtrics.com/jfe/form/SV_3OTuo9bblZAOyON" target="_blank">
		<button class="unselectedButton" style="width: 11em">
			Complete Interaction
		</button>
	</a>
	<br> <br> <br>
</center>