<center>
    <h3>Settings</h3>
    <form ng-show="user.name">
        <div>
            <label for="name">Name:</label>
            <input type="text" ng-model="user.name"/>
        </div>
        <br>
        <div>
            <label for="language">Primary Language:</label>
            <select ng-model="user.language">
                <option value="English">English</option>
                <option value="Spanish">Spanish</option>
            </select>
        </div>
        <br>
        <button class="unselectedButton" ng-click="back()">
            Back
        </button>
        <button class="unselectedButton" ng-click="saveChanges()">
            Save
        </button>
    </form>
    <p ng-hide="user.name">
        No information saved yet.
    </p>
</center>