<center>
    <h3>Settings</h3>
    <form>
        <div class="container">
            <div class="item">
                <h3>Language to <br> RECEIVE directions:</h3>
                <select ng-model="user.receiveLanguage">
                    <option value="English">English</option>
                    <option value="Spanish">Spanish</option>
                </select>
            </div>
    
            <div class="item">
                <h3>Language to <br> GIVE directions:</h3>
                <select ng-model="user.giveLanguage">
                    <option value="English">English</option>
                    <option value="Spanish">Spanish</option>
                </select>
            </div>
        </div>
        <br>
        <button class="unselectedButton" ng-click="back()">
            Back
        </button>
        <button class="unselectedButton" ng-click="saveChanges()">
            Save
        </button>
    </form>
</center>