<center>
    <h3>Settings</h3>
    <form ng-submit="saveChanges()">
        <div>
            <label for="name">Name:</label>
            <input type="text" ng-model="name"/>
        </div>
        <br>
        <div>
            <label for="language">Primary Language:</label>
            <select name="" id="">
                <option value="English">English</option>
                <option value="Spanish">Spanish</option>
            </select>
        </div>
        <br>
        <button class="unselectedButton" type="submit">
            Save
        </button>
    </form>
</center>